<div class="elements-bg">
<div class="elements">
<% if @users.any? %>
  <ul class="list-unstyled">
  <div class="row">
    <div class="col-md-4" style="display :contents;">
    <% @users.each do |user| %>
      <li class="card users_cards">
        <h7 class="card-header">
            <%= user.name %>
        </h7>
        <div class="card-body">
          <%= link_to 'View rules', user_path(user) %>
        </div>
      
      </li>
    <% end %>
    </div>
  </div>
  </ul>
  <%= paginate @users %>
<% end %>
</div>
</div>