
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Challenging</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Master</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Others rules</a></li>
      <li class="nav-item"><a href="#" class="nav-link">+</a></li>
    </ul>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <%# render best_rule%> 
      </div>
    </div>
