<div class="explain-bg">

<div class="explain-box">
<h3>習慣で<span style="color: red;">運命</span>を変えることは可能です。</h3>

<p> 『心が変われば行動が変わる行動が変われば習慣が変わる習慣が変われば人格が変わる人格が変われば運命が変わる』
松井秀喜選手の座右の銘でもある、ウィリアム・ジェイムズ（心理学者、哲学者）の言葉です。（諸説あり）
出展国立国会図書館</p>

<p>何かを身につける為に最も効果的だと、様々な研究で紹介されています。
イフゼンプランニングはこの習慣を身につけるための最強の手段です。</p>

<p>運命すら変えてしまう習慣の効果ですが、習慣化をするまでが意外と難しかったりします。<br>

ダイエットしたくてジムに入会したけど、３回位しか行ってない…<br>
英会話覚えたくて勉強本買ったけど、最初のほうしか読んでない…<br>
似たような経験有りませんか？</p>

<h5>イフゼンプランニングで習慣を身につける</h5>
<p>習慣化できない最大の原因は『考えてしまうこと』です。
やりたいんだけど、やる事考えると大変だなって思ってしまう。
コイツが習慣化を妨げる最大の敵なんです。
ヤダな、って思う前に実行してしまう事。
習慣を意識する前に実行する事。
コレが習慣の障害を取り除く一番の方法です。
コレを実現してくれる方法が、イフゼンプランニングです。
朝起きたらトイレに行く、とか、寝る時は右を向いて寝る、とか自然とやっている行動は誰にも有ると思います。
イフゼンプランニングはあなたが『習慣化したい事』を『自然とやっている事』に変えてくれます。
つまり、無意識に習慣を形成してくれます。</p>

<p>イフゼンプランニングのやり方はとても簡単です。<br>

if
もし〜したら
then
〜する
『〜』の部分に自分のやりたい事を当てはめるだけ。<br>

例えば

if
７時前に会社が終わったら
then
直接ジムに行く<br>
if
パジャマを着たら
then
勉強本を開く<br>
たったこれだけですが、びっくりするぐらいやりやすくなります。
２ヶ月もたてばやる事が当たり前になっています。あれ？それって習慣じゃない？
コツは絶対に無理をしない事。
最初は簡単過ぎるくらいの事でいいのです。</p>
<h5>あなたも習慣化できる感覚を体験してください!</h5>
<p><%= link_to "トップページへ", root_path %></p>
</div>
</div>