<% if logged_in? %>
<p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
<div class="hero">
    <div class="text-box">
    <h1 class="title">IF THEN PLANNING</h1>
    <p class="description">
        <%= link_to "人生を変える最高の習慣", explain_path, style: "color: white;" %></p>
  </div>
</div>



<% end %>
