

.alert-test {
    position: absolute;
    height: 1.7rem;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}