.nav-link-test {
 font-weight: 700;
 display: block;
 padding: .5rem 1rem;
 color: #495057;
}

.nav-link-test:hover {
 color: #495057;
 text-decoration: none;
}


.nav-link-test.active {
 border: 1px solid transparent;
 border-top-left-radius: .25rem;
 border-top-right-radius: .25rem;
 color: #495057;
 border-color: #dee2e6 #dee2e6 #fff;
}

.user-name {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.rule-bg{
 background: transparent;
}

.users_cards{
 
  height: 150px;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  padding : 0;
  box-shadow: 0 2px 5px #ccc;
  margin : 20px;
}

