<div class="elements-bg">
<div class="elements">
    <div style="text-align: center;">
        <h2>投稿一覧</h2> 
        <div class = search_wap>
        <%= search_form_for @search, url: search_rules_path do |f|%>
            <%= f.text_field :if_rule_cont , placeholder: "キーワードで検索！", class: 'input'%>
            <button type= 'submit' class='search__button icon_wap'>
                <i class = "fas fa-search"></i>
            </button>
        <% end %>
        </div>
    </div>
<div class="card-body">
    <%= render 'rules/rules', rules: @rules %> 
    <%= paginate @rules %>
</div>　
</div>
</div>